{%extends 'base.html'%}


{%block content %}
<style>
    table, th, td {
      border:2px solid rgb(13, 34, 151);
      border-collapse: collapse;
    }
    </style>

    <div>


        <table>
        <tr>
          <th>Snack Name</th>
          <th>Description</th>
          <th>Purchaser</th>
        </tr>
    
        {% for i in model %}
       
        {%if  i.id == path%}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.description}}</td>
          <td>{{i.purchaser}}</td>
    
        </tr>
        {%endif %}
        {%endfor%}
       
      </table>
    </div>

{%endblock%}